---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Picture from "astro/components/Picture.astro";
import heroImage from "assets/moddable.png";

const menuitems:{title:string; path:string; children?:{title:string; path:string;}[];  badge?:boolean}[] = [
  {
    title: "Features",
    path: "#",
    children: [
      { title: "For Platforms", path: "/platform" },
      { title: "For Users", path: "/user-experience" },
    ],
  },
  {
    title: "Pricing",
    path: "/pricing",
  },
  // {
  //   title: "About",
  //   path: "/about",
  // },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
  // {
  //   title: "Pro Version",
  //   badge: true,
  //   path: "https://astroship-pro.web3templates.com/",
  // },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          >
          <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 400px"
      loading="eager"
      format="avif"
      style={{maxWidth: "40px", display: "inline-block", marginRight: "8px" }}
    />
          
          <span class="font-bold text-slate-800">moddable</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="#" size="md" block>Sign up</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a href="https://app.moddable.app">Log in</a>
        <Link href="https://meetings-eu1.hubspot.com/sam14/moddable" size="md">Book A Demo</Link>
      </div>
    </div>
  </header>
</Container>
